\#*
*~
*rpt
*.pdf
*iscam
*.aux
*.blg
*.bbl
*.dvi
*.fls
*.log
*.toc
*.fdb_latexmk
Report/*.RData
Report/*.Rhistory
iscam.*
bfte/2012/vpa/*
*.Rhistory
MakefileToBeModified
simulation/0*
simulatedData.Rd
simulatedData.txt
sims
sources/RiSCAM
